.header{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-top: 2rem;
   padding-bottom: 2rem;
}
.header_menu{
    display: none;
}
.header_bar{
    color: var(--clr-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
}
/* xs
@media (width>=475px){
    
}

/*sm
@media (min-width:640px){
   
}

*/

@media (min-width:768px){
    .header_menu{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        gap: 3em;
    }
    .header_link{
        text-decoration: none;
        font-size: var(--size-xs);
        font-weight: 600;
        color: var(--clr-zinc300);
        transition: color 0.15s ,text-shadow 0.15s;
        &:hover{
            color: var(--clr-orange);
            text-shadow: 0 5px 15px rgba(234, 88, 12,0.5) ;
        }
    }
    .header_sun{
        color: var(--clr-zinc300);
        width: var(--size-base);
        height: var(--size-base);
        display: block;
    }
    .header_resume{
        font-size: var(--size-xs);
    }
    .header_bar{
        display: none;
    }
}


@media (min-width:1024px){
    .header_link{
        font-size: var(--size-s)
    }
    .header_sun{
        width: var(--size-xl);
        height: var(--size-xl);    
    }
    .header_resume{
        font-size: var(--size-s);
    }
}

/*xl
@media (min-width:1280px){
    
}

/*2xl
@media (min-width:1536px){
   
} */

